body{
    color: #29393d;
}

.layout-sidebar{
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: #171a1c;
	ul {
	    list-style: none;
	    margin: 0;
	    padding: 0;
		li {
			a {
			    color: rgba(255, 255, 255, 0.6);
			    padding: 10px 15px 10px 25px;
			    display: block;
			    text-decoration: none;
			    font-weight: bold;
			}
			a.active {
			    color: #fff;
			    background-color: #3b4045;
			}
		}
	}
	.topbar{
	    background-color: #00aced;
	    padding-left: 25px;
	    margin-bottom: 15px;
	    height: 60px;
	    align-items: center;
	    display: flex;
		a{
		    font-weight: bold;
		    color: #fff;
		    font-size: 22px;
		    text-decoration: none;
		}
	}
}

.layout-content{
    padding-left: 25%;
}

.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, 
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}